@each $name, $color in $all-colors {
  .bg-#{$name} {
    background-color: #{$color};
  }
  .text-#{$name} {
    color: #{$color} !important;
  }
  .border-color-#{$name} {
    border-color: #{$color};
  }
  .border-#{$name} {
    border: 1px solid #{$color};
  }
  .highlight-#{$name} {
    background-color: #{$color};
    padding: 0px 4px;
    border-radius: var(--border-radius-xxs);
  }
}

@each $index, $radius in $all-radius {
  .radius-#{$index} {
    border-radius: $radius;
  }
}

.flex-1 {
  flex: 1;
}

.icon-bullet {
  font-size: 6px !important;
}

.icon-xs {
  font-size: 12px !important;
}

.icon-sm {
  font-size: 16px !important;
}

// font-size: 12px (default)
// font-lg: 14px
// font-xl: 16px
// font-xxl: 18px
// font-weight: 500 (default)
// font-weight-sm: 400
// font-weight-lg: 600
// font-color: black400 (default)
// text-dark: black500
// text-muted: black300

.font-xs {
  font-size: var(--font-size-xs) !important;
}
.font-sm {
  font-size: var(--font-size-sm) !important;
}
.font-md {
  font-size: var(--font-size) !important;
}

.font-lg {
  font-size: var(--font-size-lg) !important;
}

.font-xl {
  font-size: var(--font-size-xl) !important;
}

.font-xxl {
  font-size: var(--font-size-xxl) !important;
}

.font-title {
  font-size: var(--font-size-title) !important;
}
.font-title-lg {
  font-size: var(--font-size-title-lg) !important;
}

.font-weight-xs {
  font-weight: var(--font-weight-xs) !important;
}
.font-weight-sm {
  font-weight: var(--font-weight-sm) !important;
}
.font-weight {
  font-weight: var(--font-weight) !important;
}
.font-weight-lg {
  font-weight: var(--font-weight-lg) !important;
}

.font-light {
  color: var(--font-color-light) !important;
}

.box-gx-1 {
  & > *:not(:last-child) {
    margin-right: 4px !important;
  }
}
.box-gx-2 {
  & > *:not(:last-child) {
    margin-right: 8px !important;
  }
}
.box-gx-3 {
  & > *:not(:last-child) {
    margin-right: 12px !important;
  }
}
.box-gx-4 {
  & > *:not(:last-child) {
    margin-right: 16px !important;
  }
}
.box-gx-5 {
  & > *:not(:last-child) {
    margin-right: 20px !important;
  }
}
.box-gx-6 {
  & > *:not(:last-child) {
    margin-right: 24px !important;
  }
}
.box-gx-7 {
  & > *:not(:last-child) {
    margin-right: 28px !important;
  }
}
.box-gx-8 {
  & > *:not(:last-child) {
    margin-right: 32px !important;
  }
}

.box-gy-1 {
  & > *:not(:last-child) {
    margin-bottom: 4px !important;
  }
}
.box-gy-2 {
  & > *:not(:last-child) {
    margin-bottom: 8px !important;
  }
}
.box-gy-3 {
  & > *:not(:last-child) {
    margin-bottom: 12px !important;
  }
}
.box-gy-4 {
  & > *:not(:last-child) {
    margin-bottom: 16px !important;
  }
}
.box-gy-5 {
  & > *:not(:last-child) {
    margin-bottom: 20px !important;
  }
}
.box-gy-6 {
  & > *:not(:last-child) {
    margin-bottom: 24px !important;
  }
}

.fill-container {
  width: 100%;
  height: 100%;
}

@for $i from 1 through 100 {
  .w-#{$i} {
    width: $i * 1%;
  }
}

.min-w200 {
  min-width: 200px;
}

.text-nowrap {
  white-space: nowrap;
}
.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rotate-90 {
  transform: rotate(90deg);
}

.no-border {
  border-color: transparent !important;
}
.no-shadow {
  box-shadow: 0 0 0 transparent;
}
.no-bg {
  background-color: transparent;
}

.text-right {
  text-align: right;
}

.text-no-wrap {
  white-space: nowrap;
}

.mt-6 {
  margin-top: 24px !important;
}
.mb-7px {
  margin-bottom: 7px !important;
}
.ps-62px {
  padding-left: 62px !important;
}
.ps-48px {
  padding-left: 48px !important;
}

.mh-250 {
  min-height: 250px;
}
.mh-100 {
  min-height: 100px;
}
.mh-80 {
  min-height: 80px;
}
.g-64,
.gx-64 {
  --bs-gutter-x: 64px;
}
.g-60,
.gx-60 {
  --bs-gutter-x: 60px;
}
