*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-size: var(--font-size);
}

::placeholder {
  color: $placeholder-color;
}

a,
button {
  font-family: var(--font-family);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--font-color);
}

.row-divider {
  margin: 0;
  border-top: 1px solid var(--border-color);
}
.col-divider {
  margin: 0;
  border-left: 1px solid var(--border-color);
  height: 16px;
}
.divider {
  border-top: 1px solid var(--border-color);
}

// ol {
//   counter-reset: item;
//   list-style-type: none;
// }
// li { display: block; }
// li:before {
//   content: counter(item) "  ";
//   counter-increment: item
// }

// events

[data-trigger-popover] {
  cursor: pointer;
}
