*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-size: var(--font-size);
}

::placeholder {
  color: $placeholder-color;
}

a,
button {
  font-family: var(--font-family);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--font-color);
}

.row-divider {
  margin: 0;
  border-top: 1px solid var(--border-color);
}
.col-divider {
  margin: 0;
  border-left: 1px solid var(--border-color);
  height: 16px;
}
.col-divider-full {
  margin: auto;
  border-left: 1px solid var(--border-color);
  height: 80%;
}
.divider {
  border-top: 1px solid var(--border-color);
}
.reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol.custom-bullets {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
  li {
    position: relative;
    padding-left: 18px;
  }
  li:before {
    content: counter(item) "  ";
    position: absolute;
    left: 0;
    font-size: var(--font-lg);
    font-weight: var(--font-weight-sm);
    counter-increment: item;
  }
}

// events

[data-trigger-popover],
[data-collapse] {
  cursor: pointer;
}

.collapse:not(.show) {
  display: none;
}

.required {
  &:after {
    content: "*";
    color: var(--danger);
    margin-left: 2px;
  }
}
