:root {
  --primary: #{$primary};
  --primary-hover: #{$primary-hover};
  --primary-light: #{$primary-light};
  --primary-extra-light: #{$primary-extra-light};
  --secondary: #{$secondary};
  --secondary-hover: #{$secondary-hover};
  --secondary-light: #{$secondary-light};
  --secondary-extra-light: #{$secondary-extra-light};
  --tertiary: #{$tertiary};
  --tertiary-hover: #{$tertiary-hover};
  --tertiary-light: #{$tertiary-light};
  --tertiary-extra-light: #{$tertiary-extra-light};

  --white: #{$white};
  --black: #{$black};
  --default-hover-color: #{$default-hover-color};

  --font-family: #{$font-family-serif};
  --font-weight: #{$font-weight};
  --font-weight-xs: #{$font-weight-xs};
  --font-weight-sm: #{$font-weight-sm};
  --font-weight-lg: #{$font-weight-lg};
  --font-size: #{$font-size};
  --font-size-sm: #{$font-size-sm};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --font-size-xxl: #{$font-size-xxl};
  --font-size-title: #{$font-size-title};
  --font-color: #{$font-color};
  --font-color-dark: #{$font-color-dark};
  --font-color-light: #{$font-color-light};

  --border-width: #{$border-width};
  --border-color: #{$border-color};

  --border-radius-xs: #{$border-radius-xs};
  --border-radius-sm: #{$border-radius-sm};
  --border-radius: #{$border-radius};
  --border-radius-lg: #{$border-radius-lg};

  --spacer: #{$spacer};
  --spacer-md: #{$spacer-md};
  --spacer-sm: #{$spacer-sm};
  --spacer-xs: #{$spacer-xs};
  --spacer-xxs: #{$spacer-xxs};
}
