$primary: #02897a;
$primary-hover: lighten($primary, 3%);
$primary-light: #c0e1de;
$primary-extra-light: #ecf3f3;
$primary-400: #78bab3;

$secondary: #ff7800;
$secondary-hover: lighten($secondary, 3%);
$secondary-light: #ffddbf;
$secondary-extra-light: #ffefe5;

$tertiary: #238bc5;
$tertiary-hover: lighten($tertiary, 3%);
$tertiary-light: #cae3f1;
$tertiary-extra-light: #cae3f1;

$danger: #FA3B3B;
$danger-hover: lighten($danger, 3%);
$danger-light: rgba(255, 2, 2, 0.25);
$danger-extra-light: rgba(255, 2, 2, 0.25);

$theme-colors: (
  "primary": (
    "main": var(--primary),
    "hover": var(--primary-hover),
    "light": var(--primary-light),
    "extra-light": var(--primary-extra-light),
  ),
  "secondary": (
    "main": var(--secondary),
    "hover": var(--secondary-hover),
    "light": var(--secondary-light),
    "extra-light": var(--secondary-extra-light),
  ),
  "tertiary": (
    "main": var(--tertiary),
    "hover": var(--tertiary-hover),
    "light": var(--tertiary-light),
    "extra-light": var(--tertiary-extra-light),
  ),
  "danger": (
    "main": var(--danger),
    "hover": var(--danger-hover),
    "light": var(--danger-light),
    "extra-light": var(--danger-extra-light),
  ),
  "dark": (
    "main": var(--black-400),
    "hover": var(--black-300),
    "light": var(--black-200),
    "extra-light": var(--black-100),
  ),
);

$white: #ffffff;
$black: #000000;
$black-100: #f7f7f8;
$black-200: #d4d4d4;
$black-300: #928d8d;
$black-400: #585858;
$black-500: #262525;

$default-hover-color: $black-100;
$disabled-color: $black-100;
$placeholder-color: $black-200;
$placeholder-icon: $black-300;
$text-muted: $black-300;

$all-colors: (
  "white": var(--white),
  "black": var(--black),
  "default": $default-hover-color,
  "muted": $text-muted,
  "dark" : $black-500,
  "primary": var(--primary),
  "secondary": var(--secondary),
  "tertiary": var(--tertiary),
  "primary-light": var(--primary-light),
  "secondary-light": var(--secondary-light),
  "tertiary-light": var(--tertiary-light),
  "primary-extra-light": var(--primary-extra-light),
  "secondary-extra-light": var(--secondary-extra-light),
  "tertiary-extra-light": var(--tertiary-extra-light),
);

$spacer: 30px;
$spacer-md: 16px;
$spacer-sm: 14px;
$spacer-xs: 12px;
$spacer-xxs: 8px;

$border-width: 1px;
$border-color: $black-200;

$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius: 12px;
$border-radius-lg: 20px;

$box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
$box-shadow-lg: 0px 5px 15px rgba(0, 0, 0, 0.1);

$font-family-serif: "Poppins", sans-serif;
$font-weight: 500;
$font-weight-xs: 300;
$font-weight-sm: 400;
$font-weight-lg: 600;
$font-size: 12px;
$font-size-sm: 10px;
$font-size-lg: 14px;
$font-size-xl: 16px;
$font-size-xxl: 18px;
$font-size-title: 20px;
$font-color: $black-400;
$font-color-dark: $black-500;
$font-color-light: $black-300;

$header-height: 74px;
$header-bg: var(--white);
$header-padding-y: 0;
$header-padding-x: var(--spacer);
$header-border-width: var(--border-width);
$header-border-color: var(--border-color);
$header-actions-gap: var(--spacer-sm);
$logo-max-height: 24px;

$sider-width: 270px;
$sider-bg: var(--white);
$sider-border-width: var(--border-width);
$sider-border-color: var(--border-color);
$sider-padding-y: 8px;
$sider-padding-x: 8px;
$sider-padding-left: $sider-padding-x + 6px;

$sider-menu-font-size: var(--font-size);
$sider-menu-font-weight: var(--font-weight);
$sider-menu-font-hover-weight: var(--font-weight-lg);
$sider-menu-font-color: var(--font-color);
$sider-menu-border-radius: 4px;
$sider-menu-padding-y: 12px;
$sider-menu-padding-x: 16px;
$sider-menu-gap: 0px;
$sider-menu-icon-size: 16px;
$sider-dropdown-menu-icon: 20px;
$sider-menu-icon-gap: 10px;
$sider-active-menu-indicator-bg: $primary-400;

$avatar-border-width: 1px;
$avatar-border-color: var(--border-color);
$avatar-bg: var(--primary-extra-light);
$avatar-height: 32px;
$avatar-width: 32px;
$avatar-padding-x: 7px;
$avatar-padding-y: 7px;
$avatar-color: var(--primary);
$avatar-font-size: var(--font-size);
$avatar-font-weight: var(--font-weight);
$avater-border-radius: 50%;

$profile-name-padding-left: var(--spacer-xs);
$profile-name-font-weight: var(--font-weight);
$profile-name-font-size: var(--font-size-lg);
$profile-name-font-color: var(--font-color);

$profile-id-padding-left: 8px;
$profile-id-font-weight: var(--font-weight);
$profile-id-font-size: var(--font-size);
$profile-id-font-color: var(--font-color-light);

$btn-height: 32px;
$btn-gap: 4px;
$btn-padding-y: 7px;
$btn-padding-x: 16px;
$btn-border-width: 1px;
$btn-border-color: var(--border-color);
$btn-border-radius: var(--border-radius-xs);
$btn-font-size: var(--font-size);
$btn-font-weight: var(--font-weight);
$btn-font-color: var(--font-color-light);
$btn-icon-size: 20px;

$btn-text-padding-y: 7px;
$btn-text-padding-x: 7px;

$badge-bg: $black-500;
$badge-padding-y: 3px;
$badge-padding-x: 3px;
$badge-border-radius: 16px;
$badge-height: 16px;

$content-header-height: 52px;
$content-header-padding-y: var(--spacer-xxs);
$content-header-padding-x: var(--spacer);
$content-header-border-width: 1px;
$content-header-border-color: var(--border-color);
$content-header-title-font-weight: var(--font-weight);
$content-header-title-font-size: var(--font-size-xxl);
$content-header-title-font-color: var(--font-color-dark);

$content-body-bg: #f1f1f1;
$content-padding-y: var(--spacer-md);
$content-padding-x: var(--spacer);
