:root {
  --primary: #02897a;
  --primary-hover: #029887;
  --primary-light: #c0e1de;
  --primary-extra-light: #ecf3f3;
  --secondary: #ff7800;
  --secondary-hover: #ff800f;
  --secondary-light: #ffddbf;
  --secondary-extra-light: #ffefe5;
  --tertiary: #238bc5;
  --tertiary-hover: #2594d2;
  --tertiary-light: #cae3f1;
  --tertiary-extra-light: #cae3f1;
  --danger: #fa3b3b;
  --danger-hover: #fa4a4a;
  --danger-light: rgba(255, 2, 2, 0.25);
  --danger-extra-light: rgba(255, 2, 2, 0.25);
  --white: #ffffff;
  --black: #000000;
  --black-100: #f6f6f6;
  --black-200: #d4d4d4;
  --black-300: #928d8d;
  --black-400: #585858;
  --black-500: #262525;
  --default-hover-color: #f6f6f6;
  --font-family: Poppins, sans-serif;
  --font-weight: 500;
  --font-weight-xs: 300;
  --font-weight-sm: 400;
  --font-weight-lg: 600;
  --font-size: 12px;
  --font-size-sm: 10px;
  --font-size-lg: 14px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-title: 20px;
  --font-size-title-lg: 24px;
  --font-color: #585858;
  --font-color-dark: #262525;
  --font-color-light: #928d8d;
  --border-width: 1px;
  --border-color: #d4d4d4;
  --border-radius-xxs: 2px;
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius: 12px;
  --border-radius-lg: 20px;
  --box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --spacer: 30px;
  --spacer-md: 16px;
  --spacer-sm: 14px;
  --spacer-xs: 12px;
  --spacer-xxs: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-size: var(--font-size);
}

::-moz-placeholder {
  color: #d4d4d4;
}

:-ms-input-placeholder {
  color: #d4d4d4;
}

::placeholder {
  color: #d4d4d4;
}

a,
button {
  font-family: var(--font-family);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--font-color);
}

.row-divider {
  margin: 0;
  border-top: 1px solid var(--border-color);
}

.col-divider {
  margin: 0;
  border-left: 1px solid var(--border-color);
  height: 16px;
}

.col-divider-full {
  margin: auto;
  border-left: 1px solid var(--border-color);
  height: 80%;
}

.divider {
  border-top: 1px solid var(--border-color);
}

.reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol.custom-bullets {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
}
ol.custom-bullets li {
  position: relative;
  padding-left: 18px;
}
ol.custom-bullets li:before {
  content: counter(item) "  ";
  position: absolute;
  left: 0;
  font-size: var(--font-lg);
  font-weight: var(--font-weight-sm);
  counter-increment: item;
}

[data-trigger-popover],
[data-collapse] {
  cursor: pointer;
}

.collapse:not(.show) {
  display: none;
}

.required:after {
  content: "*";
  color: var(--danger);
  margin-left: 2px;
}

.required-before:before {
  content: "*";
  color: var(--danger);
  margin-right: 2px;
}

[data-collapse-status=open].rotate-180-on-open,
[data-collapse-status=open] .rotate-180-on-open {
  transform: rotate(180deg);
}
[data-collapse-status=open].hide-on-open,
[data-collapse-status=open] .hide-on-open {
  display: none !important;
}

[data-collapse-status=close].rotate-180-on-close,
[data-collapse-status=close] .rotate-180-on-close {
  transform: rotate(180deg);
}
[data-collapse-status=close].hide-on-close,
[data-collapse-status=close] .hide-on-close {
  display: none !important;
}

.hover-popover {
  position: relative;
  cursor: pointer;
}
.hover-popover .hover-popover-item {
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.375s ease-in-out;
}
.hover-popover .hover-popover-item .hover-popover-item-button {
  padding: 6px;
  min-width: 100px;
}
.hover-popover:hover .hover-popover-item {
  opacity: 1;
  pointer-events: all;
}

.sort-btn .sort-icon-group {
  display: flex;
  flex-direction: column;
}
.sort-btn .sort-icon-group .sort-icon {
  font-size: 20px;
}
.sort-btn .sort-icon-group .sort-icon:first-of-type {
  margin-bottom: -4px;
}
.sort-btn .sort-icon-group .sort-icon:last-of-type {
  margin-top: -4px;
}

.sort-status-desc .sort-icon:first-of-type {
  color: var(--primary);
}

.sort-status-asc .sort-icon:last-of-type {
  color: var(--primary);
}

.page-layout {
  display: grid;
  grid-template-rows: 74px 1fr;
  grid-template-columns: 270px 1fr;
  grid-template-areas: "header header" "sider content";
  min-height: 100vh;
}
@media only screen and (max-width: 992px) {
  .page-layout {
    grid-template-areas: "header header" "content content";
  }
}
.page-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 270px 1fr;
  align-items: center;
  border-bottom: var(--border-width) solid var(--border-color);
}
.page-header .open-sidebar-container {
  display: none;
}
@media only screen and (max-width: 992px) {
  .page-header .open-sidebar-container {
    display: flex;
  }
}
.page-header-item {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacer);
}
.page-header-actions {
  display: flex;
  align-items: center;
  gap: var(--spacer-sm);
}
.page-sider {
  grid-area: sider;
  transition: all 0.275s ease-in-out;
}
.page-sider .close-sidebar-container {
  display: none;
}
.page-sider-content {
  max-width: 270px;
  background-color: var(--white);
  border-right: var(--border-width) solid var(--border-color);
  padding: 8px 8px;
  padding-left: 14px;
  height: 100%;
  overflow: auto;
  transition: all 0.275s ease-in-out;
}
@media only screen and (max-width: 992px) {
  .page-sider {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
  }
  .page-sider-content {
    transform: translateX(-270px);
  }
  .page-sider .close-sidebar-container {
    display: flex;
    justify-content: end;
  }
}
.page-content {
  background-color: #f1f1f1;
  grid-area: content;
}

.sider-submenu-item.active {
  background-color: var(--default-hover-color);
}

.sider-menu, .sider-submenu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.sider-menu-item, .sider-submenu-item {
  --sider-menu-font-size: var(--font-size);
  --sider-menu-font-weight: var(--font-weight);
  --sider-menu-font-color: var(--font-color);
  --sider-menu-bg: transparent;
  position: relative;
  border-radius: 4px;
}
.sider-menu-item-link, .sider-submenu-item-link {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--sider-menu-font-color);
  background-color: var(--sider-menu-bg);
  padding: 12px 16px;
  border-radius: 4px;
  font-size: var(--sider-menu-font-size);
  font-weight: var(--sider-menu-font-weight);
  transition: all 0.375s ease-out;
}
.sider-menu-item-link .material-icons,
.sider-menu-item-link .material-icons-outlined,
.sider-menu-item-link .ci, .sider-submenu-item-link .material-icons,
.sider-submenu-item-link .material-icons-outlined,
.sider-submenu-item-link .ci {
  font-size: 16px;
}
.sider-menu-item-link .ci, .sider-submenu-item-link .ci {
  background-color: var(--sider-menu-font-color);
}
.sider-menu-item-link .dropdown-menu-icon, .sider-submenu-item-link .dropdown-menu-icon {
  justify-self: flex-end;
  font-size: 20px;
}
.sider-menu-item:hover, .sider-menu-item.active, .sider-menu-item:has(.active), .sider-submenu-item:hover, .sider-submenu-item.active, .sider-submenu-item:has(.active) {
  --sider-menu-font-color: var(--primary);
  --sider-menu-bg: var(--primary-extra-light);
}
.sider-menu-item.active, .sider-submenu-item.active {
  --sider-menu-font-weight: var(--font-weight-lg);
}
.sider-menu-item.active:not(.sider-submenu-item):before, .sider-submenu-item.active:not(.sider-submenu-item):before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 44px;
  left: -14px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #78bab3;
}
.sider-submenu {
  margin-top: var(--spacer-xxs);
}
.sider-submenu:not(.submenu-open > .sider-submenu) {
  display: none;
}
.sider-submenu-item:hover, .sider-submenu-item.active {
  --sider-menu-bg: var(--default-hover-color);
}

@media only screen and (max-width: 992px) {
  .open-sider .page-sider {
    opacity: 1;
    pointer-events: all;
  }
  .open-sider .page-sider-content {
    transform: translateX(0);
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  background-color: var(--primary-extra-light);
  height: 32px;
  width: 32px;
  padding: 7px 7px;
  color: var(--primary);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  border-radius: 50%;
}

.profile-container {
  display: flex;
  align-items: center;
}
.profile-name {
  padding-left: var(--spacer-xs);
  font-weight: var(--font-weight);
  font-size: var(--font-size-lg);
  color: var(--font-color);
}
.profile-id {
  padding-left: 8px;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--font-color-light);
}

.btn {
  --btn-bg: transparent;
  --btn-border-color: var(--border-color);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border-color);
  border-radius: var(--border-radius-xs);
  height: 32px;
  gap: 4px;
  padding: 7px 16px;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--font-color-light);
  transition: all 0.375s ease-out;
  cursor: pointer;
}
.btn:disabled {
  pointer-events: none;
  --btn-bg: transparent !important;
  --btn-border-color: #d4d4d4 !important;
  --font-color-light: #928d8d !important;
}
.btn:hover {
  --font-color-light: var(--font-color);
}
.btn:hover:not(.no-hover, :active) {
  --btn-bg: var(--default-hover-color);
}
.btn .material-icons-outlined,
.btn .material-icons {
  font-size: 20px;
}
.btn-rounded {
  border-radius: var(--border-radius-lg);
}
.btn-flat {
  border-radius: 0;
}
.btn.btn-square {
  width: 32px;
  height: 32px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-lg {
  height: 38px;
  padding: 11px 16px;
  font-size: var(--font-size-lg);
}
.btn-lg.btn-square {
  width: 40px;
  height: 40px;
}
.btn-sm {
  height: 26px;
  padding: 3px 12px;
}
.btn-sm.btn-circle, .btn-sm.btn-icon {
  height: 24px;
}
.btn-sm.btn-square {
  width: 24px;
  height: 24px;
}
.btn-sm .material-icons-outlined,
.btn-sm .material-icons {
  font-size: 16px;
}
.btn-xs {
  height: 20px;
  padding: 4px 8px;
}
.btn-xs.btn-circle {
  height: 24px;
}
.btn-xs .material-icons-outlined,
.btn-xs .material-icons {
  font-size: 16px;
}
.btn-text {
  height: initial;
  border: none;
  padding: 7px 7px;
}
.btn-outlined {
  --font-color-light: var(--font-color);
}
.btn-hovered {
  --btn-bg: var(--default-hover-color);
  --font-color-light: var(--font-color);
}
.btn-primary {
  --btn-bg: var(--primary);
  --font-color-light: var(--white);
  --btn-border-color: var(--btn-bg);
}
.btn-primary:hover {
  --font-color-light: var(--white);
}
.btn-primary:hover:not(.no-hover, :active) {
  --btn-bg: var(--primary-hover);
}
.btn-outlined-primary {
  --font-color-light: var(--primary);
  --btn-border-color: var(--primary-light);
}
.btn-outlined-primary:hover {
  --font-color-light: var(--primary);
}
.btn-outlined-primary:hover:not(.no-hover, :active) {
  --btn-bg: var(--primary-extra-light);
}
.btn-hovered-primary {
  --btn-bg: var(--default-hover-color);
  --font-color-light: var(--primary);
  --btn-border-color: var(--primary);
}
.btn-hovered-primary:hover {
  --font-color-light: var(--primary);
}
.btn-hovered-primary:hover:not(.no-hover, :active) {
  --btn-bg: var(--primary-extra-light);
}
.btn-secondary {
  --btn-bg: var(--secondary);
  --font-color-light: var(--white);
  --btn-border-color: var(--btn-bg);
}
.btn-secondary:hover {
  --font-color-light: var(--white);
}
.btn-secondary:hover:not(.no-hover, :active) {
  --btn-bg: var(--secondary-hover);
}
.btn-outlined-secondary {
  --font-color-light: var(--secondary);
  --btn-border-color: var(--secondary-light);
}
.btn-outlined-secondary:hover {
  --font-color-light: var(--secondary);
}
.btn-outlined-secondary:hover:not(.no-hover, :active) {
  --btn-bg: var(--secondary-extra-light);
}
.btn-hovered-secondary {
  --btn-bg: var(--default-hover-color);
  --font-color-light: var(--secondary);
  --btn-border-color: var(--secondary);
}
.btn-hovered-secondary:hover {
  --font-color-light: var(--secondary);
}
.btn-hovered-secondary:hover:not(.no-hover, :active) {
  --btn-bg: var(--secondary-extra-light);
}
.btn-tertiary {
  --btn-bg: var(--tertiary);
  --font-color-light: var(--white);
  --btn-border-color: var(--btn-bg);
}
.btn-tertiary:hover {
  --font-color-light: var(--white);
}
.btn-tertiary:hover:not(.no-hover, :active) {
  --btn-bg: var(--tertiary-hover);
}
.btn-outlined-tertiary {
  --font-color-light: var(--tertiary);
  --btn-border-color: var(--tertiary-light);
}
.btn-outlined-tertiary:hover {
  --font-color-light: var(--tertiary);
}
.btn-outlined-tertiary:hover:not(.no-hover, :active) {
  --btn-bg: var(--tertiary-extra-light);
}
.btn-hovered-tertiary {
  --btn-bg: var(--default-hover-color);
  --font-color-light: var(--tertiary);
  --btn-border-color: var(--tertiary);
}
.btn-hovered-tertiary:hover {
  --font-color-light: var(--tertiary);
}
.btn-hovered-tertiary:hover:not(.no-hover, :active) {
  --btn-bg: var(--tertiary-extra-light);
}
.btn-danger {
  --btn-bg: var(--danger);
  --font-color-light: var(--white);
  --btn-border-color: var(--btn-bg);
}
.btn-danger:hover {
  --font-color-light: var(--white);
}
.btn-danger:hover:not(.no-hover, :active) {
  --btn-bg: var(--danger-hover);
}
.btn-outlined-danger {
  --font-color-light: var(--danger);
  --btn-border-color: var(--danger-light);
}
.btn-outlined-danger:hover {
  --font-color-light: var(--danger);
}
.btn-outlined-danger:hover:not(.no-hover, :active) {
  --btn-bg: var(--danger-extra-light);
}
.btn-hovered-danger {
  --btn-bg: var(--default-hover-color);
  --font-color-light: var(--danger);
  --btn-border-color: var(--danger);
}
.btn-hovered-danger:hover {
  --font-color-light: var(--danger);
}
.btn-hovered-danger:hover:not(.no-hover, :active) {
  --btn-bg: var(--danger-extra-light);
}
.btn-dark {
  --btn-bg: var(--black-400);
  --font-color-light: var(--white);
  --btn-border-color: var(--btn-bg);
}
.btn-dark:hover {
  --font-color-light: var(--white);
}
.btn-dark:hover:not(.no-hover, :active) {
  --btn-bg: var(--black-300);
}
.btn-outlined-dark {
  --font-color-light: var(--black-400);
  --btn-border-color: var(--black-200);
}
.btn-outlined-dark:hover {
  --font-color-light: var(--black-400);
}
.btn-outlined-dark:hover:not(.no-hover, :active) {
  --btn-bg: var(--black-100);
}
.btn-hovered-dark {
  --btn-bg: var(--default-hover-color);
  --font-color-light: var(--black-400);
  --btn-border-color: var(--black-400);
}
.btn-hovered-dark:hover {
  --font-color-light: var(--black-400);
}
.btn-hovered-dark:hover:not(.no-hover, :active) {
  --btn-bg: var(--black-100);
}

.badge {
  --badge-bg: #262525;
  --badge-font-color: var(--white);
  font-size: 9px;
  background-color: var(--badge-bg);
  color: var(--badge-font-color);
  height: 16px;
  border-radius: 16px;
  padding: 2px 2px;
}
.badge-sm {
  height: 12px;
}
.badge-floating {
  position: absolute;
  top: 0;
  right: 0;
}
.badge-primary {
  --badge-bg: var(--primary);
  --badge-font-color: var(--white);
}
.badge-secondary {
  --badge-bg: var(--secondary);
  --badge-font-color: var(--white);
}
.badge-tertiary {
  --badge-bg: var(--tertiary);
  --badge-font-color: var(--white);
}
.badge-danger {
  --badge-bg: var(--danger);
  --badge-font-color: var(--white);
}
.badge-dark {
  --badge-bg: var(--black-400);
  --badge-font-color: var(--white);
}

.ci {
  width: 1em;
  height: 1em;
  transition: all 0.375s ease-out;
  background-color: var(--font-color);
  -webkit-mask-size: contain;
          mask-size: contain;
}

.ci-24-hours-support {
  -webkit-mask: url(/assets/images/icons/24-hours-support.svg);
          mask: url(/assets/images/icons/24-hours-support.svg);
}

.ci-analysis-chart {
  -webkit-mask: url(/assets/images/icons/analysis-chart.svg);
          mask: url(/assets/images/icons/analysis-chart.svg);
}

.ci-chart-line-up {
  -webkit-mask: url(/assets/images/icons/chart-line-up.svg);
          mask: url(/assets/images/icons/chart-line-up.svg);
}

.ci-chart-pie-slice {
  -webkit-mask: url(/assets/images/icons/chart-pie-slice.svg);
          mask: url(/assets/images/icons/chart-pie-slice.svg);
}

.content-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 52px;
  padding: var(--spacer-xxs) var(--spacer);
  border-bottom: 1px solid var(--border-color);
}
.content-header-title {
  font-weight: var(--font-weight);
  font-size: var(--font-size-xxl);
  color: var(--font-color-dark);
}
.content-body {
  background-color: #f1f1f1;
  padding: var(--spacer-md) var(--spacer);
}

.form-checkbox {
  margin: 0;
  display: none;
}
.form-checkbox-indicator {
  margin-top: 1px;
  height: 1em;
  width: 1em;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 0.175s ease-in-out;
}
.form-checkbox-indicator span {
  transition: all 0.175s ease-in-out;
  opacity: 0;
  font-size: 100%;
}
.form-checkbox:checked + .form-checkbox-indicator {
  border: 1px solid var(--primary);
  background-color: var(--primary);
}
.form-checkbox:checked + .form-checkbox-indicator span {
  opacity: 1;
}
.form-checkbox:checked + .form-checkbox-indicator + span {
  color: var(--font-color-dark);
}
.form-checkbox-container {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 4px;
}

.form-radio {
  margin: 0;
  display: none;
}
.form-radio-indicator {
  margin-top: 1px;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 0.175s ease-in-out;
}
.form-radio-indicator span {
  transition: all 0.175s ease-in-out;
  opacity: 0;
  font-size: 1.2em;
}
.form-radio:checked + .form-radio-indicator {
  border: 1px solid transparent;
  color: var(--primary);
}
.form-radio:checked + .form-radio-indicator span {
  opacity: 1;
}
.form-radio:checked + .form-radio-indicator + span {
  color: var(--font-color-dark);
}
.form-radio-container {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 4px;
}

.form-group {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "label label" "input input" "note note";
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.form-group-inline {
  grid-template-columns: -webkit-min-content;
  grid-template-columns: min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas: "label input" "offset note";
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.form-group-inline .form-label {
  margin-bottom: 0px;
}
.form-group-type-text .form-control {
  border: 0;
}
.form-group-type-text .input-icon-prefix {
  padding-left: 0;
}
.form-group-type-text .input-icon-prefix-with-divider {
  padding-left: 0;
}
.form-group-type-text .input-icon-prefix-with-divider + .form-control {
  padding-left: 40px;
}
.form-group-type-text .input-icon-prefix + .form-control {
  padding-left: 28px;
}

.input-icon {
  grid-area: input;
  height: 1em;
  color: #928d8d;
  width: calc(1em + 24px);
  z-index: 1;
  font-size: var(--font-size-xl);
  padding: 0px 12px;
}
.input-icon-as-text {
  height: auto;
  font-size: var(--font-size);
}
.input-icon-prefix-with-divider {
  border-right: 1px solid var(--border-color);
}
.input-icon-prefix-with-divider + .form-control {
  padding-left: 52px;
}
.input-icon-prefix + .form-control {
  padding-left: 40px;
}
.input-icon:not(.input-icon-prefix, .input-icon-prefix-with-divider) {
  margin-left: auto;
}
.input-icon:not(.input-icon-prefix, .input-icon-prefix-with-divider) + .form-control {
  padding-right: 40px;
}

.form-note {
  grid-area: note;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
  margin-top: 8px;
}

.form-label {
  grid-area: label;
  font-weight: var(--font-weight-sm);
  margin-bottom: 4px;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 12px) calc(50% + 1px), calc(100% - 8px) calc(50% + 1px);
  background-size: 4px 4px, 4px 4px;
  background-repeat: no-repeat;
  min-width: 45px;
}

.form-control {
  --input-font-color: $form-control-font-color;
  --input-bg: var(--white);
  font-family: var(--font-family);
  grid-area: input;
  border: 1px solid var(--border-color);
  height: 32px;
  border-radius: 4px;
  padding: 7px 14px;
  outline: 0;
  background-color: var(--input-bg);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--input-font-color);
  width: 100%;
}
.form-control-rounded {
  border-radius: 40px;
}
.form-control:-moz-read-only:not(select, [data-trigger-popover]) {
  --input-font-color: #928d8d;
  --input-bg: #f6f6f6;
}
.form-control:disabled, .form-control:read-only:not(select, [data-trigger-popover]) {
  --input-font-color: #928d8d;
  --input-bg: #f6f6f6;
}
.form-control:-moz-read-only {
  cursor: pointer;
}
.form-control:read-only {
  cursor: pointer;
}
.form-control-lg {
  height: 40px;
  padding: 7px 14px;
}
.form-control-lg .material-icons-outlined,
.form-control-lg .material-icons {
  font-size: 24px;
}
.form-control-sm {
  height: 26px;
  padding: 3px 10px;
}
.form-control-sm .material-icons-outlined,
.form-control-sm .material-icons {
  font-size: 16px;
}
.form-control-xs {
  height: initial;
  padding: 2px 4px;
  width: initial;
}

.select2 {
  grid-area: input;
}
.select2 .select2-selection {
  --input-font-color: $form-control-font-color;
  --input-bg: var(--white);
  font-family: var(--font-family);
  border: 1px solid var(--border-color);
  height: 32px;
  border-radius: 4px;
  padding: 7px 6px;
  outline: 0;
  background-color: var(--input-bg);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--input-font-color);
  width: 100%;
  display: flex;
  align-items: center;
}

.select2-selection__arrow {
  height: 100% !important;
  right: 3px !important;
}

.select2-container > * {
  flex: 1;
}

.form-control-lg + .select2 .select2-selection {
  height: 40px;
}

.form-range-group {
  position: relative;
  height: 32px;
}
.form-range-group input[type=range] {
  position: absolute;
  width: 100%;
  top: 7px;
  left: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-color: transparent;
}
.form-range-group input[type=range]:first-child {
  z-index: 1;
}
.form-range-group input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  background: var(--primary);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  margin-top: -8px;
  z-index: 1;
  -webkit-transition: all 0.175s ease-in-out;
  transition: all 0.175s ease-in-out;
  border: 2px solid var(--primary);
}
.form-range-group input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.5);
}
.form-range-group input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 18px;
  height: 18px;
  background: var(--primary);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  margin-top: -8px;
  z-index: 1;
  -moz-transition: all 0.175s ease-in-out;
  transition: all 0.175s ease-in-out;
  border: 2px solid white;
}
.form-range-group input[type=range]::-moz-range-thumb:hover {
  transform: scale(1.5);
}
.form-range-group input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background: var(--primary);
  border-radius: 0px;
  border: 0px solid #010101;
  z-index: 0;
}

.counter {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px 0px;
  white-space: nowrap;
}
.counter-group {
  display: flex;
  align-items: center;
  padding: 0px var(--spacer-xs);
  gap: var(--spacer-xs);
  background-color: #f6f6f6;
  border-radius: var(--border-radius);
}
.counter-count {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight);
  color: var(--font-color-dark);
}
.counter-text {
  font-size: var(--font-size);
  font-weight: var(--font-weight-sm);
  color: var(--font-color);
}
.counter-separator {
  height: 8px;
  width: 8px;
  background-color: #f6f6f6;
  border-radius: 50%;
}

.widget-box {
  padding: 16px 16px;
  border-radius: var(--border-radius);
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.widget-box-centered {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.widget-box-fixed {
  min-height: 134px;
}
.widget-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight);
  color: var(--font-color);
}
.widget-text {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-sm);
  color: var(--font-color);
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-title {
  font-weight: var(--font-weight);
  font-size: var(--font-size-lg);
  color: var(--font-color);
}

.paper {
  background-color: #ffffff;
  padding: 24px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  flex: 1;
}
.paper-sm {
  padding: 16px;
}
.paper-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid-table {
  border-collapse: separate;
  border-spacing: 0 1em;
}
.grid-table-sm {
  border-spacing: 0 8px;
}
.grid-table-header {
  font-size: var(--font-size);
  font-weight: var(--font-weight-sm);
  color: var(--font-color-light);
}
.grid-table-header th {
  font-size: var(--font-size);
  font-weight: var(--font-weight-sm);
  color: var(--font-color-light);
  text-align: inherit;
}
.grid-table-header-dark {
  color: var(--font-color);
}
.grid-table-header-dark th {
  color: var(--font-color);
}
.grid-table-data {
  font-size: var(--font-size);
  font-weight: var(--font-weight-sm);
  color: var(--font-color);
}
.grid-table-data td {
  font-size: var(--font-size);
  font-weight: var(--font-weight-sm);
  color: var(--font-color);
  text-align: inherit;
}

.profile-group {
  display: flex;
}
.profile-item:not(:first-of-type) {
  margin-left: -8px;
}
.profile-item img {
  height: 24px;
  width: 24px;
}

.card {
  background: #ffffff;
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--border-radius-xs);
}
.card-bordered {
  border: 1px solid var(--border-color);
}
.card-body {
  padding: var(--spacer-md) var(--spacer);
}
.card-body-sm {
  padding: var(--spacer-xxs) 6px;
}
.card-body + .card-body:not(.no-border) {
  border-top: 1px solid var(--border-color);
}
.card-filter-container {
  display: flex;
  align-items: center;
  gap: var(--spacer-md);
}

.input-switch {
  background-color: #d4d4d4;
  width: 32px;
  height: 12px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  position: relative;
  transition: all 0.175s ease-in-out;
  cursor: pointer;
}
.input-switch-indicator {
  display: flex;
  height: 18px;
  width: 18px;
  margin-left: 0;
  background-color: #928d8d;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0);
  transition: all 0.175s ease-in-out;
}
.input-switch-indicator:hover {
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.05);
}
.input-switch:has(input:checked) {
  background-color: var(--primary-light);
}
.input-switch input {
  display: none;
}
.input-switch input:checked + .input-switch-indicator {
  margin-left: 14px;
  background-color: var(--primary);
}

.data-card {
  padding: var(--spacer-md) 24px;
  transition: all 0.375s ease-in-out;
  border-radius: var(--border-radius-xs);
}
.data-card-sm {
  padding: var(--spacer-md) 12px;
}
.data-card:hover {
  background-color: #f6f6f6;
}
.data-card:hover .data-card-hover-content {
  opacity: 1;
  pointer-events: all;
}
.data-card-hover-content {
  opacity: 0;
  pointer-events: none;
  transition: all 0.375s ease-in-out;
}

.popover-dialog {
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  min-width: 300px;
  max-width: 400px;
  max-height: 90vh;
  z-index: 999;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.1);
}
.popover-content {
  flex: 1;
  height: 100%;
  padding: var(--spacer-md) var(--spacer-md);
  overflow: auto;
  padding-bottom: 48px;
}
.popover-actions {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.popover-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-tabs-header {
  border-bottom: 1px solid var(--border-color);
}
.ui-tabs-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ui-tabs-action {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
  font-weight: var(--font-weight-sm);
}
.ui-tabs-action-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid transparent;
  padding-bottom: 15px;
}
.ui-tabs-action-item a {
  text-decoration: none;
  color: #928d8d;
}
.ui-tabs-active {
  font-weight: var(--font-weight);
  border-bottom: 1px solid #262525;
}
.ui-tabs-active a {
  color: #262525;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table-active-header thead th {
  color: var(--font-color) !important;
  font-weight: var(--font-weight) !important;
  background-color: #eaebef;
}
.table-active-header thead th:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.table-active-header thead th:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.table-active-header thead th,
.table-active-header thead td,
.table-active-header tbody th,
.table-active-header tbody td {
  padding-right: var(--spacer-md) !important;
  padding-left: var(--spacer-md) !important;
}
.table thead th {
  color: var(--font-color-light);
  font-weight: var(--font-weight-sm);
  text-align: left;
  padding: 16px 0;
}
.table thead th:not(:last-of-type) {
  padding-right: var(--spacer);
}
.table tbody {
  color: var(--font-color-light);
}
.table tbody td,
.table tbody th {
  font-weight: var(--font-weight);
  text-align: left;
  padding: 12px 0;
}
.table tbody td:not(:last-of-type),
.table tbody th:not(:last-of-type) {
  padding-right: var(--spacer);
}
.table.table-bordered tbody tr {
  border-bottom: 1px solid var(--border-color);
}
.table.table-bordered tbody tr th,
.table.table-bordered tbody tr td {
  padding-bottom: var(--spacer-md);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes SlideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes SlideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes SlideOut {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes SlideOut {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.modal {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  padding: var(--spacer);
  align-items: center;
  justify-content: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}
.modal.show {
  display: flex;
  -webkit-animation: fadeIn 0.375s ease-in-out forwards;
          animation: fadeIn 0.375s ease-in-out forwards;
  pointer-events: all;
}
.modal.show .modal-dialog {
  -webkit-animation: SlideIn 0.375s ease-in-out forwards;
          animation: SlideIn 0.375s ease-in-out forwards;
}
.modal.hiding {
  pointer-events: none;
  -webkit-animation: fadeOut 0.375s ease-in-out forwards;
          animation: fadeOut 0.375s ease-in-out forwards;
}
.modal.hiding .modal-dialog {
  -webkit-animation: SlideOut 0.375s ease-in-out forwards;
          animation: SlideOut 0.375s ease-in-out forwards;
}
.modal .modal-dialog {
  z-index: 2;
  width: 100%;
  max-width: 700px;
  max-height: 100%;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}
.modal .modal-body {
  padding: var(--spacer);
}

.chip {
  --chip-border-color: $black-200;
  font-weight: var(--font-weight-sm);
  background-color: #f6f6f6;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--chip-border-color);
}
.chip .chip-icon {
  font-size: 16px;
  margin-left: 8px;
}
.chip-primary {
  --chip-border-color: var(--primary-light);
  color: var(--primary);
}
.chip-secondary {
  --chip-border-color: var(--secondary-light);
  color: var(--secondary);
}
.chip-tertiary {
  --chip-border-color: var(--tertiary-light);
  color: var(--tertiary);
}
.chip-danger {
  --chip-border-color: var(--danger-light);
  color: var(--danger);
}
.chip-dark {
  --chip-border-color: var(--black-200);
  color: var(--black-400);
}

.chip-row-colored .chip {
  background-color: #ffffff;
}

.bg-white {
  background-color: var(--white);
}
.bg-white-hover:hover {
  background-color: var(--white);
}

.text-white {
  color: var(--white) !important;
}
.text-white-hover:hover {
  color: var(--white) !important;
}

.border-color-white {
  border-color: var(--white);
}

.border-white {
  border: 1px solid var(--white);
}

.highlight-white {
  background-color: var(--white);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-black {
  background-color: var(--black);
}
.bg-black-hover:hover {
  background-color: var(--black);
}

.text-black {
  color: var(--black) !important;
}
.text-black-hover:hover {
  color: var(--black) !important;
}

.border-color-black {
  border-color: var(--black);
}

.border-black {
  border: 1px solid var(--black);
}

.highlight-black {
  background-color: var(--black);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-default {
  background-color: #f6f6f6;
}
.bg-default-hover:hover {
  background-color: #f6f6f6;
}

.text-default {
  color: #f6f6f6 !important;
}
.text-default-hover:hover {
  color: #f6f6f6 !important;
}

.border-color-default {
  border-color: #f6f6f6;
}

.border-default {
  border: 1px solid #f6f6f6;
}

.highlight-default {
  background-color: #f6f6f6;
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-placeholder {
  background-color: #d4d4d4;
}
.bg-placeholder-hover:hover {
  background-color: #d4d4d4;
}

.text-placeholder {
  color: #d4d4d4 !important;
}
.text-placeholder-hover:hover {
  color: #d4d4d4 !important;
}

.border-color-placeholder {
  border-color: #d4d4d4;
}

.border-placeholder {
  border: 1px solid #d4d4d4;
}

.highlight-placeholder {
  background-color: #d4d4d4;
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-muted {
  background-color: #928d8d;
}
.bg-muted-hover:hover {
  background-color: #928d8d;
}

.text-muted {
  color: #928d8d !important;
}
.text-muted-hover:hover {
  color: #928d8d !important;
}

.border-color-muted {
  border-color: #928d8d;
}

.border-muted {
  border: 1px solid #928d8d;
}

.highlight-muted {
  background-color: #928d8d;
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-dark {
  background-color: #262525;
}
.bg-dark-hover:hover {
  background-color: #262525;
}

.text-dark {
  color: #262525 !important;
}
.text-dark-hover:hover {
  color: #262525 !important;
}

.border-color-dark {
  border-color: #262525;
}

.border-dark {
  border: 1px solid #262525;
}

.highlight-dark {
  background-color: #262525;
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-normal {
  background-color: #585858;
}
.bg-normal-hover:hover {
  background-color: #585858;
}

.text-normal {
  color: #585858 !important;
}
.text-normal-hover:hover {
  color: #585858 !important;
}

.border-color-normal {
  border-color: #585858;
}

.border-normal {
  border: 1px solid #585858;
}

.highlight-normal {
  background-color: #585858;
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-primary {
  background-color: var(--primary);
}
.bg-primary-hover:hover {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary) !important;
}
.text-primary-hover:hover {
  color: var(--primary) !important;
}

.border-color-primary {
  border-color: var(--primary);
}

.border-primary {
  border: 1px solid var(--primary);
}

.highlight-primary {
  background-color: var(--primary);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-danger {
  background-color: var(--danger);
}
.bg-danger-hover:hover {
  background-color: var(--danger);
}

.text-danger {
  color: var(--danger) !important;
}
.text-danger-hover:hover {
  color: var(--danger) !important;
}

.border-color-danger {
  border-color: var(--danger);
}

.border-danger {
  border: 1px solid var(--danger);
}

.highlight-danger {
  background-color: var(--danger);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-secondary {
  background-color: var(--secondary);
}
.bg-secondary-hover:hover {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--secondary) !important;
}
.text-secondary-hover:hover {
  color: var(--secondary) !important;
}

.border-color-secondary {
  border-color: var(--secondary);
}

.border-secondary {
  border: 1px solid var(--secondary);
}

.highlight-secondary {
  background-color: var(--secondary);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-tertiary {
  background-color: var(--tertiary);
}
.bg-tertiary-hover:hover {
  background-color: var(--tertiary);
}

.text-tertiary {
  color: var(--tertiary) !important;
}
.text-tertiary-hover:hover {
  color: var(--tertiary) !important;
}

.border-color-tertiary {
  border-color: var(--tertiary);
}

.border-tertiary {
  border: 1px solid var(--tertiary);
}

.highlight-tertiary {
  background-color: var(--tertiary);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-primary-light {
  background-color: var(--primary-light);
}
.bg-primary-light-hover:hover {
  background-color: var(--primary-light);
}

.text-primary-light {
  color: var(--primary-light) !important;
}
.text-primary-light-hover:hover {
  color: var(--primary-light) !important;
}

.border-color-primary-light {
  border-color: var(--primary-light);
}

.border-primary-light {
  border: 1px solid var(--primary-light);
}

.highlight-primary-light {
  background-color: var(--primary-light);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-secondary-light {
  background-color: var(--secondary-light);
}
.bg-secondary-light-hover:hover {
  background-color: var(--secondary-light);
}

.text-secondary-light {
  color: var(--secondary-light) !important;
}
.text-secondary-light-hover:hover {
  color: var(--secondary-light) !important;
}

.border-color-secondary-light {
  border-color: var(--secondary-light);
}

.border-secondary-light {
  border: 1px solid var(--secondary-light);
}

.highlight-secondary-light {
  background-color: var(--secondary-light);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-tertiary-light {
  background-color: var(--tertiary-light);
}
.bg-tertiary-light-hover:hover {
  background-color: var(--tertiary-light);
}

.text-tertiary-light {
  color: var(--tertiary-light) !important;
}
.text-tertiary-light-hover:hover {
  color: var(--tertiary-light) !important;
}

.border-color-tertiary-light {
  border-color: var(--tertiary-light);
}

.border-tertiary-light {
  border: 1px solid var(--tertiary-light);
}

.highlight-tertiary-light {
  background-color: var(--tertiary-light);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-primary-extra-light {
  background-color: var(--primary-extra-light);
}
.bg-primary-extra-light-hover:hover {
  background-color: var(--primary-extra-light);
}

.text-primary-extra-light {
  color: var(--primary-extra-light) !important;
}
.text-primary-extra-light-hover:hover {
  color: var(--primary-extra-light) !important;
}

.border-color-primary-extra-light {
  border-color: var(--primary-extra-light);
}

.border-primary-extra-light {
  border: 1px solid var(--primary-extra-light);
}

.highlight-primary-extra-light {
  background-color: var(--primary-extra-light);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-secondary-extra-light {
  background-color: var(--secondary-extra-light);
}
.bg-secondary-extra-light-hover:hover {
  background-color: var(--secondary-extra-light);
}

.text-secondary-extra-light {
  color: var(--secondary-extra-light) !important;
}
.text-secondary-extra-light-hover:hover {
  color: var(--secondary-extra-light) !important;
}

.border-color-secondary-extra-light {
  border-color: var(--secondary-extra-light);
}

.border-secondary-extra-light {
  border: 1px solid var(--secondary-extra-light);
}

.highlight-secondary-extra-light {
  background-color: var(--secondary-extra-light);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.bg-tertiary-extra-light {
  background-color: var(--tertiary-extra-light);
}
.bg-tertiary-extra-light-hover:hover {
  background-color: var(--tertiary-extra-light);
}

.text-tertiary-extra-light {
  color: var(--tertiary-extra-light) !important;
}
.text-tertiary-extra-light-hover:hover {
  color: var(--tertiary-extra-light) !important;
}

.border-color-tertiary-extra-light {
  border-color: var(--tertiary-extra-light);
}

.border-tertiary-extra-light {
  border: 1px solid var(--tertiary-extra-light);
}

.highlight-tertiary-extra-light {
  background-color: var(--tertiary-extra-light);
  padding: 0px 4px;
  border-radius: var(--border-radius-xxs);
}

.radius-0 {
  border-radius: 0;
}

.radius-top-left-0 {
  border-top-left-radius: 0;
}

.radius-bottom-left-0 {
  border-bottom-left-radius: 0;
}

.radius-top-right-0 {
  border-top-right-radius: 0;
}

.radius-bottom-right-0 {
  border-bottom-right-radius: 0;
}

.radius-1 {
  border-radius: 2px;
}

.radius-top-left-1 {
  border-top-left-radius: 2px;
}

.radius-bottom-left-1 {
  border-bottom-left-radius: 2px;
}

.radius-top-right-1 {
  border-top-right-radius: 2px;
}

.radius-bottom-right-1 {
  border-bottom-right-radius: 2px;
}

.radius-2 {
  border-radius: 4px;
}

.radius-top-left-2 {
  border-top-left-radius: 4px;
}

.radius-bottom-left-2 {
  border-bottom-left-radius: 4px;
}

.radius-top-right-2 {
  border-top-right-radius: 4px;
}

.radius-bottom-right-2 {
  border-bottom-right-radius: 4px;
}

.radius-3 {
  border-radius: 8px;
}

.radius-top-left-3 {
  border-top-left-radius: 8px;
}

.radius-bottom-left-3 {
  border-bottom-left-radius: 8px;
}

.radius-top-right-3 {
  border-top-right-radius: 8px;
}

.radius-bottom-right-3 {
  border-bottom-right-radius: 8px;
}

.radius-4 {
  border-radius: 12px;
}

.radius-top-left-4 {
  border-top-left-radius: 12px;
}

.radius-bottom-left-4 {
  border-bottom-left-radius: 12px;
}

.radius-top-right-4 {
  border-top-right-radius: 12px;
}

.radius-bottom-right-4 {
  border-bottom-right-radius: 12px;
}

.radius-5 {
  border-radius: 20px;
}

.radius-top-left-5 {
  border-top-left-radius: 20px;
}

.radius-bottom-left-5 {
  border-bottom-left-radius: 20px;
}

.radius-top-right-5 {
  border-top-right-radius: 20px;
}

.radius-bottom-right-5 {
  border-bottom-right-radius: 20px;
}

.transition {
  transition: all 0.375s ease-in-out;
}

.flex-1 {
  flex: 1;
}

.icon-bullet {
  font-size: 6px !important;
}

.icon-xs {
  font-size: 12px !important;
}

.icon-sm {
  font-size: 16px !important;
}

.font-xs {
  font-size: var(--font-size-xs) !important;
}

.font-sm {
  font-size: var(--font-size-sm) !important;
}

.font-md {
  font-size: var(--font-size) !important;
}

.font-lg {
  font-size: var(--font-size-lg) !important;
}

.font-xl {
  font-size: var(--font-size-xl) !important;
}

.font-xxl {
  font-size: var(--font-size-xxl) !important;
}

.font-title {
  font-size: var(--font-size-title) !important;
}

.font-title-lg {
  font-size: var(--font-size-title-lg) !important;
}

.font-weight-xs {
  font-weight: var(--font-weight-xs) !important;
}

.font-weight-sm {
  font-weight: var(--font-weight-sm) !important;
}

.font-weight {
  font-weight: var(--font-weight) !important;
}

.font-weight-lg {
  font-weight: var(--font-weight-lg) !important;
}

.font-light {
  color: var(--font-color-light) !important;
}

.box-gx-1 > *:not(:last-child) {
  margin-right: 4px !important;
}

.box-gx-2 > *:not(:last-child) {
  margin-right: 8px !important;
}

.box-gx-3 > *:not(:last-child) {
  margin-right: 12px !important;
}

.box-gx-4 > *:not(:last-child) {
  margin-right: 16px !important;
}

.box-gx-5 > *:not(:last-child) {
  margin-right: 20px !important;
}

.box-gx-6 > *:not(:last-child) {
  margin-right: 24px !important;
}

.box-gx-7 > *:not(:last-child) {
  margin-right: 28px !important;
}

.box-gx-8 > *:not(:last-child) {
  margin-right: 32px !important;
}

.box-gy-1 > *:not(:last-child) {
  margin-bottom: 4px !important;
}

.box-gy-2 > *:not(:last-child) {
  margin-bottom: 8px !important;
}

.box-gy-3 > *:not(:last-child) {
  margin-bottom: 12px !important;
}

.box-gy-4 > *:not(:last-child) {
  margin-bottom: 16px !important;
}

.box-gy-5 > *:not(:last-child) {
  margin-bottom: 20px !important;
}

.box-gy-6 > *:not(:last-child) {
  margin-bottom: 24px !important;
}

.fill-container {
  width: 100%;
  height: 100%;
}

.w-1 {
  width: 1%;
}

.w-2 {
  width: 2%;
}

.w-3 {
  width: 3%;
}

.w-4 {
  width: 4%;
}

.w-5 {
  width: 5%;
}

.w-6 {
  width: 6%;
}

.w-7 {
  width: 7%;
}

.w-8 {
  width: 8%;
}

.w-9 {
  width: 9%;
}

.w-10 {
  width: 10%;
}

.w-11 {
  width: 11%;
}

.w-12 {
  width: 12%;
}

.w-13 {
  width: 13%;
}

.w-14 {
  width: 14%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-17 {
  width: 17%;
}

.w-18 {
  width: 18%;
}

.w-19 {
  width: 19%;
}

.w-20 {
  width: 20%;
}

.w-21 {
  width: 21%;
}

.w-22 {
  width: 22%;
}

.w-23 {
  width: 23%;
}

.w-24 {
  width: 24%;
}

.w-25 {
  width: 25%;
}

.w-26 {
  width: 26%;
}

.w-27 {
  width: 27%;
}

.w-28 {
  width: 28%;
}

.w-29 {
  width: 29%;
}

.w-30 {
  width: 30%;
}

.w-31 {
  width: 31%;
}

.w-32 {
  width: 32%;
}

.w-33 {
  width: 33%;
}

.w-34 {
  width: 34%;
}

.w-35 {
  width: 35%;
}

.w-36 {
  width: 36%;
}

.w-37 {
  width: 37%;
}

.w-38 {
  width: 38%;
}

.w-39 {
  width: 39%;
}

.w-40 {
  width: 40%;
}

.w-41 {
  width: 41%;
}

.w-42 {
  width: 42%;
}

.w-43 {
  width: 43%;
}

.w-44 {
  width: 44%;
}

.w-45 {
  width: 45%;
}

.w-46 {
  width: 46%;
}

.w-47 {
  width: 47%;
}

.w-48 {
  width: 48%;
}

.w-49 {
  width: 49%;
}

.w-50 {
  width: 50%;
}

.w-51 {
  width: 51%;
}

.w-52 {
  width: 52%;
}

.w-53 {
  width: 53%;
}

.w-54 {
  width: 54%;
}

.w-55 {
  width: 55%;
}

.w-56 {
  width: 56%;
}

.w-57 {
  width: 57%;
}

.w-58 {
  width: 58%;
}

.w-59 {
  width: 59%;
}

.w-60 {
  width: 60%;
}

.w-61 {
  width: 61%;
}

.w-62 {
  width: 62%;
}

.w-63 {
  width: 63%;
}

.w-64 {
  width: 64%;
}

.w-65 {
  width: 65%;
}

.w-66 {
  width: 66%;
}

.w-67 {
  width: 67%;
}

.w-68 {
  width: 68%;
}

.w-69 {
  width: 69%;
}

.w-70 {
  width: 70%;
}

.w-71 {
  width: 71%;
}

.w-72 {
  width: 72%;
}

.w-73 {
  width: 73%;
}

.w-74 {
  width: 74%;
}

.w-75 {
  width: 75%;
}

.w-76 {
  width: 76%;
}

.w-77 {
  width: 77%;
}

.w-78 {
  width: 78%;
}

.w-79 {
  width: 79%;
}

.w-80 {
  width: 80%;
}

.w-81 {
  width: 81%;
}

.w-82 {
  width: 82%;
}

.w-83 {
  width: 83%;
}

.w-84 {
  width: 84%;
}

.w-85 {
  width: 85%;
}

.w-86 {
  width: 86%;
}

.w-87 {
  width: 87%;
}

.w-88 {
  width: 88%;
}

.w-89 {
  width: 89%;
}

.w-90 {
  width: 90%;
}

.w-91 {
  width: 91%;
}

.w-92 {
  width: 92%;
}

.w-93 {
  width: 93%;
}

.w-94 {
  width: 94%;
}

.w-95 {
  width: 95%;
}

.w-96 {
  width: 96%;
}

.w-97 {
  width: 97%;
}

.w-98 {
  width: 98%;
}

.w-99 {
  width: 99%;
}

.w-100 {
  width: 100%;
}

.min-h-200 {
  min-height: 200px;
}

.min-w200 {
  min-width: 200px;
}

.w-150 {
  width: 150px;
}

.text-nowrap {
  white-space: nowrap;
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rotate-90 {
  transform: rotate(90deg);
}

.no-border {
  border-color: transparent !important;
}

.no-shadow {
  box-shadow: 0 0 0 transparent;
}

.shadow-sm {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.03);
}

.no-bg {
  background-color: transparent;
}

.text-right {
  text-align: right;
}

.text-no-wrap {
  white-space: nowrap;
}

.mt-6 {
  margin-top: 24px !important;
}

.mb-7px {
  margin-bottom: 7px !important;
}

.ps-62px {
  padding-left: 62px !important;
}

.ps-48px {
  padding-left: 48px !important;
}

.mh-250 {
  min-height: 250px;
}

.mh-100 {
  min-height: 100px;
}

.mh-80 {
  min-height: 80px;
}

.g-64,
.gx-64 {
  --bs-gutter-x: 64px;
}

.g-60,
.gx-60 {
  --bs-gutter-x: 60px;
}

.table-img-icon {
  font-size: 24px;
  height: 1em;
  width: 1em;
}/*# sourceMappingURL=styles.css.map */