@use "sass:map";

.btn {
  --btn-bg: transparent;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  background-color: var(--btn-bg);
  border: $btn-border-width solid $btn-border-color;
  border-radius: $btn-border-radius;
  height: $btn-height;
  gap: $btn-gap;
  padding: $btn-padding-y $btn-padding-x;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  color: $btn-font-color;
  transition: all 0.375s ease-out;
  cursor: pointer;

  &:hover {
    --btn-bg: var(--default-hover-color);
    --font-color-light: var(--font-color);
  }

  .material-icons-outlined,
  .material-icons {
    font-size: $btn-icon-size;
  }

  &-rounded {
    border-radius: var(--border-radius-lg);
  }

  &-sm {
    height: $btn-height - 6px;
    padding: ($btn-padding-y - 4px) ($btn-padding-x - 4px);

    &.btn-circle {
      height: $btn-height - 8px;
    }
    .material-icons-outlined,
    .material-icons {
      font-size: $btn-icon-size - 4px;
    }
  }

  &-text {
    border: none;
    padding: $btn-text-padding-y $btn-text-padding-x;
  }
  &-hovered {
    --btn-bg: var(--default-hover-color);
    --font-color-light: var(--font-color);
  }

  @each $name, $color in $theme-colors {
    &-#{$name} {
      --btn-bg: #{map.get($color, "main")};
      --font-color-light: var(--white);
    }
    &-hovered-#{$name} {
      --btn-bg: var(--default-hover-color);
      --font-color-light: var(--primary);
      border-color: var(--primary);
    }
  }
}
