@use "sass:map";

.btn {
  --btn-bg: transparent;
  --btn-border-color: #{$btn-border-color};
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  background-color: var(--btn-bg);
  border: $btn-border-width solid var(--btn-border-color);
  border-radius: $btn-border-radius;
  height: $btn-height;
  gap: $btn-gap;
  padding: $btn-padding-y $btn-padding-x;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  color: $btn-font-color;
  transition: all 0.375s ease-out;
  cursor: pointer;

  &:hover:not(.no-hover, :active) {
    --btn-bg: var(--default-hover-color);
    --font-color-light: var(--font-color);
  }

  .material-icons-outlined,
  .material-icons {
    font-size: $btn-icon-size;
  }

  &-rounded {
    border-radius: var(--border-radius-lg);
  }

  &-lg {
    height: $btn-height + 6px;
    padding: ($btn-padding-y + 4px) $btn-padding-x;
    font-size: var(--font-size-lg);
  }
  &-sm {
    height: $btn-height - 6px;
    padding: ($btn-padding-y - 4px) ($btn-padding-x - 4px);

    &.btn-circle {
      height: $btn-height - 8px;
    }
    .material-icons-outlined,
    .material-icons {
      font-size: $btn-icon-size - 4px;
    }
  }
  &-xs {
    height: $btn-height - 12px;
    padding: 4px 8px;

    &.btn-circle {
      height: $btn-height - 8px;
    }
    .material-icons-outlined,
    .material-icons {
      font-size: $btn-icon-size - 4px;
    }
  }

  &-text {
    border: none;
    padding: $btn-text-padding-y $btn-text-padding-x;
  }
  &-outlined {
    --font-color-light: var(--font-color);
  }
  &-hovered {
    --btn-bg: var(--default-hover-color);
    --font-color-light: var(--font-color);
  }

  @each $name, $color in $theme-colors {
    &-#{$name} {
      --btn-bg: #{map.get($color, "main")};
      --font-color-light: var(--white);
      --btn-border-color: var(--btn-bg);
      &:hover:not(.no-hover, :active) {
        --btn-bg: #{map.get($color, "hover")};
        --font-color-light: var(--white);
      }
    }
    &-outlined-#{$name} {
      --font-color-light: #{map.get($color, "main")};
      border-color: #{map.get($color, "light")};
      &:hover:not(.no-hover, :active) {
        --btn-bg: #{map.get($color, "extra-light")};
        --font-color-light: #{map.get($color, "main")};
      }
    }
    &-hovered-#{$name} {
      --btn-bg: var(--default-hover-color);
      --font-color-light: #{map.get($color, "main")};
      border-color: #{map.get($color, "main")};

      &:hover:not(.no-hover, :active) {
        --btn-bg: #{map.get($color, "extra-light")};
        --font-color-light: #{map.get($color, "main")};
      }
    }
  }
}
