.card {
  background: $white;
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--border-radius-xs);

  &-body {
    padding: var(--spacer-md) var(--spacer);

    &-sm {
      padding: var(--spacer-xxs) 6px;
    }

    & + &:not(.no-border) {
      border-top: 1px solid var(--border-color);
    }
  }

  &-filter-container {
    display: flex;
    align-items: center;
    gap: var(--spacer-md);
  }
}
