@use "sass:map";

.chip {
  --chip-border-color: $black-200;
  font-weight: var(--font-weight-sm);
  background-color: $black-100;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--chip-border-color);

  .chip-icon {
    font-size: 16px;
    margin-left: 8px;
  }

  @each $name, $color in $theme-colors {
    &-#{$name} {
      --chip-border-color: #{map.get($color, "light")};
      color: #{map.get($color, "main")};
    }
  }
}

.chip-row-colored {
  .chip {
    background-color: $white;
  }
}
