.content {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $content-header-padding-y $content-header-padding-x;
    border-bottom: $content-header-border-width solid
      $content-header-border-color;

    &-title {
      font-weight: $content-header-title-font-weight;
      font-size: $content-header-title-font-size;
      color: $content-header-title-font-color;
    }
  }

  &-body {
    background-color: $content-body-bg;
    min-height: 100%;
    padding: var(--spacer);
  }
}
