$form-control-height: 32px;
$form-control-border-radius: var(--border-radius);
$form-control-padding-y: 7px;
$form-control-padding-x: 14px;
$form-control-bg: var(--white);
$form-control-border-width: 1px;
$form-control-border-color: var(--border-color);
$form-control-font-size: var(--font-size);
$form-control-font-weight: var(--font-weight);
$form-control-font-color: var(--font-color);

.form-checkbox {
  margin: 0;
  display: none;

  &-indicator {
    margin-top: 1px;
    height: 1em;
    width: 1em;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    transition: all 0.175s ease-in-out;
    span {
      transition: all 0.175s ease-in-out;
      opacity: 0;
      font-size: 100%;
    }
  }
  &:checked {
    & + .form-checkbox-indicator {
      border: 1px solid var(--primary);
      background-color: var(--primary);
      span {
        opacity: 1;
      }
      & + span {
        color: var(--font-color-dark);
      }
    }
  }

  &-container {
    cursor: pointer;
    position: relative;
    display: flex;
    gap: 4px;
  }
}

.form-group {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "label label" "input input" "note note";
  align-items: center;
  column-gap: 16px;

  &-inline {
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas: "label input" "offset note";
    column-gap: 8px;
    .form-label {
      margin-bottom: 0px;
    }
  }
  &-type-text {
    .form-control {
      border: 0;
    }
    .input-icon-prefix {
      padding-left: 0;
      &-with-divider {
        padding-left: 0;
        & + .form-control {
          padding-left: 40px;
        }
      }
      & + .form-control {
        padding-left: 28px;
      }
    }
  }
}

.input-icon {
  grid-area: input;
  height: 1em;
  color: $placeholder-icon;
  width: calc(1em + 24px);
  z-index: 1;
  font-size: var(--font-size-xl);
  padding: 0px 12px;

  &-as-text {
    height: auto;
    font-size: var(--font-size);
  }

  &-prefix {
    &-with-divider {
      border-right: 1px solid var(--border-color);
      & + .form-control {
        padding-left: 52px;
      }
    }
    & + .form-control {
      padding-left: 40px;
    }
  }
  &:not(&-prefix, &-prefix-with-divider) {
    margin-left: auto;
    & + .form-control {
      padding-right: 40px;
    }
  }
}

.form-note {
  grid-area: note;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
  margin-top: 8px;
}

.form-label {
  grid-area: label;
  font-weight: var(--font-weight-sm);
  margin-bottom: 4px;
}

select {
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 12px) calc(50% + 1px),
    calc(100% - 8px) calc(50% + 1px);
  background-size: 4px 4px, 4px 4px;
  background-repeat: no-repeat;
  min-width: 45px;
}

.form-control {
  --input-font-color: $form-control-font-color;
  --input-bg: #{$form-control-bg};
  font-family: var(--font-family);
  grid-area: input;
  border: $form-control-border-width solid $form-control-border-color;
  height: $form-control-height;
  border-radius: 4px;
  padding: $form-control-padding-y $form-control-padding-x;
  outline: 0;
  background-color: var(--input-bg);
  font-weight: $form-control-font-weight;
  font-size: $form-control-font-size;
  color: var(--input-font-color);
  width: 100%;

  &-rounded {
    border-radius: $form-control-border-radius;
  }

  &:disabled,
  &:read-only:not(select, [data-trigger-popover]) {
    --input-font-color: #{$text-muted};
    --input-bg: #{$disabled-color};
  }
  &:read-only {
    cursor: pointer;
  }
  &-lg {
    height: $form-control-height + 8px;
    padding: ($form-control-padding-y) ($form-control-padding-x);

    .material-icons-outlined,
    .material-icons {
      font-size: $btn-icon-size + 4px;
    }
  }
  &-sm {
    height: $form-control-height - 6px;
    padding: ($form-control-padding-y - 4px) ($form-control-padding-x - 4px);

    .material-icons-outlined,
    .material-icons {
      font-size: $btn-icon-size - 4px;
    }
  }
  &-xs {
    height: initial;
    padding: 2px 4px;
    width: initial;
  }
}

.form-range-group {
  position: relative;
  height: 32px;

  input[type="range"] {
    position: absolute;
    width: 100%;
    top: 7px;
    left: 0;
    appearance: none;
    background-color: transparent;
    border-color: transparent;
    &:first-child {
      z-index: 1;
    }
    &::-webkit-slider-thumb {
      appearance: none;
      width: 18px;
      height: 18px;
      background: var(--primary);
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      margin-top: -8px;
      z-index: 1;
      transition: all 0.175s ease-in-out;
      border: 2px solid var(--primary);
      &:hover {
        transform: scale(1.5);
      }
    }
    &::-moz-range-thumb {
      appearance: none;
      width: 18px;
      height: 18px;
      background: var(--primary);
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      margin-top: -8px;
      z-index: 1;
      transition: all 0.175s ease-in-out;
      border: 2px solid white;
      &:hover {
        transform: scale(1.5);
      }
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      box-shadow: none;
      background: var(--primary);
      border-radius: 0px;
      border: 0px solid #010101;
      z-index: 0;
    }
  }
}
