$form-control-height: 32px;
$form-control-border-radius: var(--border-radius);
$form-control-padding-y: 7px;
$form-control-padding-x: 14px;
$form-control-bg: var(--white);
$form-control-border-width: 1px;
$form-control-border-color: var(--border-color);
$form-control-font-size: var(--font-size);
$form-control-font-weight: var(--font-weight);
$form-control-font-color: var(--font-color);

.form-checkbox {
  margin: 0;
  display: none;

  &-indicator {
    height: 1em;
    width: 1em;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    transition: all 0.175s ease-in-out;
    span {
      transition: all 0.175s ease-in-out;
      opacity: 0;
      font-size: 100%;
    }
  }
  &:checked {
    & + .form-checkbox-indicator {
      border: 1px solid var(--primary);
      background-color: var(--primary);
      span {
        opacity: 1;
      }
      & + span {
        color: var(--font-color-dark);
      }
    }
  }

  &-container {
    cursor: pointer;
    position: relative;
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

.form-group {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "label label" "input input";
  align-items: center;

  &-inline {
    grid-template-columns: min-content;
    grid-template-areas: "label input";
    column-gap: 8px;
  }
  &-type-text {
    .form-control {
      border: 0;
    }
    .input-icon-prefix {
      padding-left: 0;
      &-with-divider {
        padding-left: 0;
        & + .form-control {
          padding-left: 40px;
        }
      }
      & + .form-control {
        padding-left: 28px;
      }
    }
  }
}

.input-icon {
  grid-area: input;
  height: 1em;
  color: $placeholder-icon;
  width: calc(1em + 24px);
  z-index: 1;
  font-size: var(--font-size-xl);
  padding: 0px 12px;

  &-prefix {
    &-with-divider {
      border-right: 1px solid var(--border-color);
      & + .form-control {
        padding-left: 52px;
      }
    }
    & + .form-control {
      padding-left: 40px;
    }
  }
  &:not(&-prefix, &-prefix-with-divider) {
    margin-left: auto;
    & + .form-control {
      padding-right: 40px;
    }
  }
}

.form-label {
  grid-area: label;
}

.form-control {
  --input-font-color: $form-control-font-color;
  --input-bg: #{$form-control-bg};
  grid-area: input;
  border: $form-control-border-width solid $form-control-border-color;
  height: $form-control-height;
  border-radius: 4px;
  padding: $form-control-padding-y $form-control-padding-x;
  outline: 0;
  background-color: var(--input-bg);
  font-weight: $form-control-font-weight;
  font-size: $form-control-font-size;
  color: var(--input-font-color);
  width: 100%;

  &-rounded {
    border-radius: $form-control-border-radius;
  }

  &:disabled,
  &:read-only:not(select) {
    --input-font-color: #{$text-muted};
    --input-bg: #{$disabled-color};
  }
  &:read-only {
    cursor: pointer;
  }

  &-sm {
    height: $form-control-height - 6px;
    padding: ($form-control-padding-y - 4px) ($form-control-padding-x - 4px);

    .material-icons-outlined,
    .material-icons {
      font-size: $btn-icon-size - 4px;
    }
  }
  &-xs {
    height: initial;
    padding: 2px 4px;
    width: initial;
  }
}
