$max-md: "only screen and (max-width: 992px)";

.page {
  &-layout {
    display: grid;
    grid-template-rows: $header-height 1fr;
    grid-template-columns: $sider-width 1fr;
    grid-template-areas: "header header" "sider content";
    min-height: 100vh;
    @media #{$max-md} {
      grid-template-areas: "header header" "content content";
    }
  }
  &-header {
    grid-area: header;
    display: grid;
    grid-template-columns: $sider-width 1fr;
    align-items: center;
    border-bottom: $header-border-width solid $header-border-color;

    .open-sidebar-container {
      display: none;
    }
    @media #{$max-md} {
      .open-sidebar-container {
        display: flex;
      }
    }

    &-item {
      display: flex;
      justify-content: space-between;
      padding: $header-padding-y $header-padding-x;
    }

    &-actions {
      display: flex;
      align-items: center;
      gap: $header-actions-gap;
    }
  }
  &-sider {
    grid-area: sider;
    transition: all 0.275s ease-in-out;

    .close-sidebar-container {
      display: none;
    }
    &-content {
      max-width: $sider-width;
      background-color: $sider-bg;
      border-right: $sider-border-width solid $sider-border-color;
      padding: $sider-padding-y $sider-padding-x;
      padding-left: $sider-padding-left;
      height: 100%;
      overflow: auto;
      transition: all 0.275s ease-in-out;
    }
    @media #{$max-md} {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      pointer-events: none;
      &-content {
        transform: translateX(-$sider-width);
      }

      .close-sidebar-container {
        display: flex;
        justify-content: end;
      }
    }
  }
  &-content {
    background-color: $content-body-bg;
    grid-area: content;
  }
}

.sider-submenu-item.active {
  background-color: var(--default-hover-color);
}

.sider {
  &-menu,
  &-submenu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: $sider-menu-gap;

    &-item {
      --sider-menu-font-size: #{$sider-menu-font-size};
      --sider-menu-font-weight: #{$sider-menu-font-weight};
      --sider-menu-font-color: #{$sider-menu-font-color};
      --sider-menu-bg: transparent;
      position: relative;
      border-radius: 4px;

      &-link {
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        align-items: center;
        gap: $sider-menu-icon-gap;
        text-decoration: none;
        color: var(--sider-menu-font-color);
        background-color: var(--sider-menu-bg);
        padding: $sider-menu-padding-y $sider-menu-padding-x;
        border-radius: $sider-menu-border-radius;
        font-size: var(--sider-menu-font-size);
        font-weight: var(--sider-menu-font-weight);
        transition: all 0.375s ease-out;

        .material-icons,
        .material-icons-outlined,
        .ci {
          font-size: $sider-menu-icon-size;
        }
        .ci {
          background-color: var(--sider-menu-font-color);
        }
        .dropdown-menu-icon {
          justify-self: flex-end;
          font-size: $sider-dropdown-menu-icon;
        }
      }
      &:hover,
      &.active,
      &:has(.active) {
        --sider-menu-font-color: var(--primary);
        --sider-menu-bg: var(--primary-extra-light);
      }
      &.active {
        --sider-menu-font-weight: #{$sider-menu-font-hover-weight};
        &:not(.sider-submenu-item):before {
          content: "";
          position: absolute;
          display: block;
          width: 6px;
          height: 44px;
          left: -$sider-padding-left;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          background-color: $sider-active-menu-indicator-bg;
        }
      }
    }
  }

  &-submenu {
    margin-top: var(--spacer-xxs);
    &:not(.submenu-open > &) {
      display: none;
    }
    &-item {
      &:hover,
      &.active {
        --sider-menu-bg: var(--default-hover-color);
      }
    }
  }
}

.open-sider {
  @media #{$max-md} {
    .page-sider {
      opacity: 1;
      pointer-events: all;
      &-content {
        transform: translateX(0);
      }
    }
  }
}
