.popover {
  &-dialog {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: $white;
    border: 1px solid var(--border-color);
    min-width: 300px;
    max-width: 400px;
    max-height: 90vh;
    z-index: 999;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.1);
  }

  &-content {
    flex: 1;
    height: 100%;
    padding: var(--spacer-md) var(--spacer-md);
    overflow: auto;
    padding-bottom: 48px;
  }
  &-actions {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
