.profile {
  &-container {
    display: flex;
    align-items: center;
  }
  &-name {
    padding-left: $profile-name-padding-left;
    font-weight: $profile-name-font-weight;
    font-size: $profile-name-font-size;
    color: $profile-name-font-color;
  }
  &-id {
    padding-left: $profile-id-padding-left;
    font-weight: $profile-id-font-weight;
    font-size: $profile-id-font-size;
    color: $profile-id-font-color;
  }
}
