.table {
  border-collapse: collapse;
  width: 100%;

  &-active-header {
    thead {
      th {
        color: var(--font-color) !important;
        font-weight: var(--font-weight) !important;
        background-color: #eaebef;
        &:first-of-type {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        &:last-of-type {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
    thead,
    tbody {
      th,
      td {
        padding-right: var(--spacer-md) !important;
        padding-left: var(--spacer-md) !important;
      }
    }
  }
  thead {
    th {
      color: var(--font-color-light);
      font-weight: var(--font-weight-sm);
      text-align: left;
      padding: 16px 0;
      &:not(:last-of-type) {
        padding-right: var(--spacer);
      }
    }
  }
  tbody {
    color: var(--font-color-light);
    td,
    th {
      font-weight: var(--font-weight);
      text-align: left;
      padding: 12px 0;
      &:not(:last-of-type) {
        padding-right: var(--spacer);
      }
    }
  }
  &.table-bordered {
    tbody {
      tr {
        border-bottom: 1px solid var(--border-color);
        th,
        td {
          padding-bottom: var(--spacer-md);
        }
      }
    }
  }
}
