.table {
  border-collapse: collapse;
  width: 100%;
  thead {
    th {
      color: var(--font-color-light);
      font-weight: var(--font-weight-sm);
      text-align: left;
      padding: 16px 0;
      &:not(:last-of-type) {
        padding-right: var(--spacer);
      }
    }
  }
  tbody {
    td,
    th {
      color: var(--font-color-light);
      font-weight: var(--font-weight);
      text-align: left;
      padding: 12px 0;
      &:not(:last-of-type) {
        padding-right: var(--spacer);
      }
    }
  }
}
