.widget {
  &-box {
    padding: 16px 16px;
    border-radius: var(--border-radius);
    background-color: $default-hover-color;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &-centered {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    &-fixed {
      min-height: 134px;
    }
  }
  &-title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight);
    color: var(--font-color);
  }
  &-text {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-sm);
    color: var(--font-color);
  }
}
